@*@{
        ViewBag.Title = "Clinics";
    }
    <html>
    <head>




        <title>@ViewBag.Title - VcHealthcare</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link rel="stylesheet" href="@Url.Content("~/Content/Stylesheet1.css")" type="text/css">
        <style>
            .container {
                padding: 0px !important;
            }

            .row {
                margin: 0px !important;
            }
        </style>
    </head>

    <body>
        <div class="container" style="width:1263px;">

            <img src="~/Content/Images/header4.png" style="width:1263px; height:400px;" alt="Chania">

        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12"  style="width:1263px;">
                    <h1 style="text-align:center;">.</h1>
                </div>
               </div>


            <div class="container" style="width:1263px; height:400px;  ">

                <div class="row">
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="container"  style="width:1263px; height:400px;   background-color:#e0e5e7" >
                    <div class="row">
                        <div class="col-lg-6">
                           
                        </div>
                    </div>

                </div>

            </div>

            </div>

    </body>


    </html>*@

@{
    ViewBag.Title = "Contact";
}
<<<<<<< HEAD
<link href="~/Content/StyleSheet1.css" rel="stylesheet" />
<html>
=======
@*<html>
>>>>>>> 79755360b89ec0126345e838f1595ba1ec96568a
<head>

    <title>

    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - VcHealthcare</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="@Url.Content("~/Content/Stylesheet1.css")" type="text/css">
    <style>
        .container {
            padding: 0px !important;
        }

        .row {
            margin: 0px !important;
        }
    </style>
</head>
<body>*@


    <div class="container" style="width:1263px;">

        <img src="~/Content/Images/header4.png" style="width:1263px; height:400px;" alt="Chania">
    </div>


    <div class="container" style=" width: 1263px;">
        <div class="row" style="padding-top:20px; width: 1260px;">
            <div class="col-lg-12" style="        text-align: center !important;">
                <h3 style="color: black; margin-top: 12px; font-display:block;">
                    Please choose a clinic which is closer and convenient to you.
                </h3>
            </div>

        </div>
    </div>

    <div class="container" style="width:1263px; height:400px; background-color: #eeeeee;  margin-top:20px; align-items:center;" >
        <div class="row" style="        padding-top: 50px;  width: 1260px;  ">
            <div class="col-lg-6" style="text-align:center">

                <div>
                    <b style="color:#145885; font-size:30px; "> Padarn Surgery</b> <br />
                    <h4 style="margin-top:40px;">
                        Penglais Road Aberystwyth Ceredigion SY23 3DU
                    </h4>
                    <h4 style="margin-top:40px;">
                        Phone: 0800 233 5957
                    </h4>
                    <button class="button4 button0"> Learn more</button>
                </div>
            </div>

            <div class="col-lg-6" >
                <div>
                    <img src="~/Content/Images/Padarn-Building.png" style="width:543px; height:308px;" />
                </div>
            </div>

     


        </div>
    </div>

  


@*</body>
</html>*@